<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
  </head>
  <body>
    <div data-controller="chart">
    </div>

    <div class="container">
        <%= line_chart Airmeasure.order(timestamps: :asc).pluck(:timestamps, :measure_float) %>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  </body>
</html>
